---
title: Sosages are awesome!
name: World
---
<div class="page-index">
	<div class="promo">
		<img src="/assets/images/hotdog.png">
		<h1>Dirty Dogs serves all-beef, vegan and vegatagian hot dogs.</h1>

		{{> button}}
	</div>
	<div class="hotdogs-list">
		<div class="square">
			<div class="content-wrapper">
				<div class="content beef">
					<h2>Gormet All Beef Hotdogs</h2>
					<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
				</div>
			</div>
		</div>
		<div class="square">
			<div class="content-wrapper">
				<img src="/assets/images/hotdog-1.png">
			</div>
		</div>
		<div class="square">
			<div class="content-wrapper">
				<img src="/assets/images/hotdog-2.png">
			</div>
		</div>
		<div class="square">
			<div class="content-wrapper">
				<div class="content vegan">
					<h2>Vegan Hotdogs</h2>
					<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
				</div>
			</div>
		</div>
		<div class="square">
			<div class="content-wrapper">
				<div class="content vegitarian">
					<h2>Vegitarian Hotdogs</h2>
					<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
				</div>
			</div>
		</div>
		<div class="square">
			<div class="content-wrapper">
				<img src="/assets/images/hotdog-3.png">
			</div>
		</div>
	</div>
</div>