<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="copyright" content="&copy; 2016 Dirty Dogs" />

	<title>{{title}}</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{baseurl}}/assets/styles/main.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<body>

	<header>
		<div class="intro sosages-background"></div>
		<nav>
			<ul>
				<li>
					<a href="pages/menu.html">MENU</a>
				</li>
				<li>
					<a href="pages/catering.html">CATERING</a>
				</li>
				<li>
					<a href="pages/about.html">ABOUT US</a>
				</li>
				<li>
					<a href="pages/contact.html">CONTACT</a>
				</li>
			</ul>
		</nav>
	</header>
	<article>
		{% body %}
	</article>
	<footer>
		<span class="copyright"> &#174; 2016 Dirty Dogs all rights reserved </span>
		<span class="contacts">
			<address>274 Marconi Blvd. Columbus, Ohio 43215</address>
			<span class="pipe">|</span>
			<a href="tel:614.538.0095">614.538.0095</a>
			<span class="pipe">|</span>
			<a href="mailto:example@example.com">Contact Us</a>
		</span>
	</footer>
	<script src="{{baseurl}}/assets/scripts/main.js" async defer></script>

</body>
</html>
